<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="active"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
    <img src="/assets/img/signature.webp" alt="Signature of Bartolomé de las Lasas, Bishop of Chiapa, Defender of the Indians">
  </ul>
</nav>
